.line {
    display: block;
    text-align: right;
    border: 1px solid blue;
    padding: 5px;
    transition: color 0.5s, background-color 0.5s;
}

.line:hover {
    background-color: blue;
    color: white;
    
}

.title {
    text-align: right;
    font-weight: bold;
    font-size: larger;
    display: block;
    padding-bottom: 20px;
}



.wrapper {
    position: absolute;
    right: 0;
    top: 100px;
    margin: 50px;
}
