.line {
    display: block;
    text-align: right;
    border: 1px solid blue;
    padding-left: 20px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(9,9,121,1) 2%, rgba(0,212,255,1) 10%, rgba(0,212,255,1) 100%);
    transition: color 0.5s, background-color 0.5s;
}

.line:hover {
    background: rgb(2,0,36);
    color: white;
    
}

.title {
    text-align: right;
    font-weight: bold;
    font-size: larger;
    display: block;
    padding-bottom: 20px;
}



.wrapper {
    position: absolute;
    right: 0;
    top: 100px;
    margin: 20px;
}
