.line {
    display: block;
    color: darkblue;
    text-align: right;
    padding: 5px 10px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(0, 0, 160, 0.5) 0%, rgb(255, 255, 255) 2%, rgba(0,212,255,1) 100%);
    transition: color 0.5s, background-color 0.5s;
}

.line:hover {
    background: rgb(2,0,36);
    color: white;
    
}

.expiration {
    font-size: xx-small;
    text-align: left;
    position: relative;
    top: 0;
    left: 0;
}

.title {
    text-align: right;
    font-weight: bold;
    font-size: larger;
    display: block;
    padding-bottom: 20px;
}



.wrapper {
    position: absolute;
    right: 0;
    top: 100px;
    margin: 20px;
}


@media only screen and (max-width: 850px) {
    .wrapper {
        position: inherit;
    }
}
