.title {
    white-space: pre-line;
    display: block;
    margin: 20px;
    color: grey;
}

.htmlTitle {
    white-space: pre-wrap;
}

.textarea {
    width: 100%;
    min-height: 200px;
}

.edit {
    border: none;
    padding: 10px 25px;
    position: absolute;
    display: block;
    right: 0px;
    top: 0px;
    margin: 20px;
    font-size: 42px;
}

.update {

}
